form, #form, #carousel {
  width: 80%;
  margin: 0 auto;
}
#carousel-slides {
  width: 60%;
  margin: 2% auto;
}
h1 {
  margin: 5%;
}
form, #form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
#album-img {
  filter:  grayscale(100%);
}
.form-group {
  width: 60%;
}
.white {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
}
.black {
  background-color: rgba(255, 255, 255, 1);
}